@charset "utf-8";

body{
	font-family:Arial, Helvetica, sans-serif;	
	background-color:#000000;
	padding:0;
	margin:0;
}

.deg{
    background: #505050; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#505050'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#505050)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #000000,  #505050); /* for firefox 3.6+ */
    width: 100%;
}

ul{
	list-style:none;
	padding:0;
	margin:0;
	text-align:left;
}

input{
	font-family:Arial, Helvetica, sans-serif;	
	font-size:11px;
}

select{
	font-family:Arial, Helvetica, sans-serif;		
	font-size:10px;
}

textarea {
	font-family:Arial, Helvetica, sans-serif;	
	font-size:11px;		
}

#main {
	width:100%;
	position:relative;
}

#content {
	 min-height:380px;
}

#innercontent {
	text-align:left;
	padding: 0 40px 20px 40px;
}

#header {
	width:100%;
}

#separator {
	background-color:#b5121b;
	height:2px;
	margin-top:14px;
	width:100%;
	margin-bottom:40px;
}

#separator1 {
	background-color:#b5121b;
	height:2px;
	margin-top:18px;
	width:100%; margin-bottom:14px;
}

#separator2 {
	background-color:#6d6355;
	height:2px;
	margin-top:18px;
	width:100%; margin-bottom:14px;
}

#separator3 {
	background-color:#b5121b;
	height:2px;
	margin-top:14px;
	width:100%;
}

#separator4 {
	background-color:#b5121b;
	height:2px;
	margin-top:2px;
	width:100%; margin-bottom:2px;
}

#separator5 {
	background-color:#b5121b;
	height:2px;
	margin-top:18px;
	width:100%;
}

#separator6 {
	background-color:#b5121b;
	height:2px;
	margin-top:14px;
	width:100%;
}


#sections {
	background:url(../img/menu-back.png) repeat-x;
	height:33px;
	top:10px;
	position:relative;
}

#sections ul {
	margin: 20px 0 0 0; 
	list-style-type: none;
	list-style-image: none;
	height:34px;
	display:inline-block;
}

#sections li {
	display: inline;
	padding-right:55px;
}

.formLog {
	margin: 0;
	padding: 15px;
}
.formLog label {
	font-size: 12px;
	color: #FFF;	
	display: block;
}
.formLog input {
	font-size: 11px;	
}
.formLog input[type="text"] {
	display: block;	
	height: 15px;	
	padding: 0;	
	margin-top: 2px;	
	margin-bottom: 10px;
	width: 140px;
	border: none;	
}
.formLog input[type="password"] {
	display: block;	
	height: 15px;	
	padding: 0;	
	margin-top: 2px;		
	margin-bottom: 10px;
	width: 140px;
	border: none;		
}
.formLog input[type="submit"] {
	font-size:11px;
	border:1px solid #FFFFFF;
	background-color:#000000;
	color:#FFFFFF;
}

.formReset {
	padding: 0;
	margin: 20px 0 20px 0;
}
.formReset p {
	padding: 0;
	margin: 0;
}
.formReset label {
	font-size: 12px;
	color: #FFFFFF;
	display:inline-block;
	width:120px;
	vertical-align:middle;
}
.formReset label.error {
	font-size: 12px;	
	margin-left: 10px;	
	width: auto;		
	display: inline;	
	color: red;
	vertical-align: middle;
}
.formReset input {
	font-size: 11px;	
}
.formReset input[type="text"] {
	padding: 0;	
	width: 250px;
	border: none;
}
.formReset input[type="submit"] {
	font-size:11px;
	margin-top:20px;
	margin-left:124px;
	border: 1px solid #FFFFFF;
	background-color:#000000;
	color:#FFFFFF;
}

.formRegAccount {
	padding: 15px;
}
.formRegAccount p {
	padding: 0;
	margin: 0;
}
.formRegAccount label {
	font-size: 12px;
	color: #FFFFFF;
	display:inline-block;
	width:120px;
	vertical-align:middle;
}
.formRegAccount label.error {
	font-size: 12px;	
	margin-left: 10px;	
	width: auto;		
	display: inline;	
	color: red;
	vertical-align: middle;
}
.formRegAccount input {
	font-size: 11px;	
}
.formRegAccount input[type="text"] {
	height: 15px;	
	padding: 0;	
	margin-top: 2px;	
	margin-bottom: 10px;
	width: 250px;
	border: none;
}
.formRegAccount input[type="password"] {
	height: 15px;	
	padding: 0;	
	margin-top: 2px;		
	margin-bottom: 10px;
	width: 250px;
	border: none;
}
.formRegAccount input[type="submit"] {
	font-size:11px;
	margin-top:10px;
	margin-left:124px;
	border: 1px solid #FFFFFF;
	background-color:#000000;
	color:#FFFFFF;
}

.formContact {
	padding: 0;
	margin: 0 0 20px 0;
}
.formContact p {
	padding: 0;
	margin: 0;
}
.formContact label {
	font-size: 12px;
	color: #FFFFFF;
	display: block;
}
.formContact label.error {
	font-size: 12px;	
	margin-left: 10px;	
	width: auto;		
	display: inline;	
	color: red;
	vertical-align: top;
}
.formContact label.secondary {
	font-size: 11px;
	color: #FFFFFF;	
	vertical-align: bottom;
	display:inline-block !important;
}
.formContact input {
	font-size: 11px;	
}
.formContact input[type="text"] {
	height: 20px;	
	padding: 0;	
	margin-top: 2px;	
	margin-bottom: 10px;
	width: 314px;
	border:1px solid #999999;
}
.formContact textarea {
	font-size: 11px;	
	padding: 0;	
	margin-top: 2px;	
	margin-bottom: 10px;
	width: 314px;
	border:1px solid #999999;
	resize: none;
}
.formContact input[type="submit"] {
	font-size:11px;
	border:0;
	background-color:#ad121b;
	color:#FFFFFF;
	padding:5px 30px 5px 30px;
}

.formProd {
	margin: 3px 0 3px 0;
}
.formProd select {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size:11px;
}
.formProd input[type="submit"] {
	font-size:11px;
	border:0;
	background-color:#ad121b;
	color:#FFFFFF;
}

.formOrder {
	margin: 3px 0 3px 0;
}
.formOrder label.error {
	font-size: 12px;	
	margin-left: 10px;	
	width: auto;		
	display: inline;	
	color: red;
	vertical-align: middle;
}
.formOrder select {
	font-size: 11px;
	margin-left: 10px;	
}

.header1 {
	color:#FFFFFF;
	font-size:16px;	
}
.header2 {
	color:#FFFFFF;
	font-size:14px;	
}

.table1 {
	width:100%;
}
.table1 th {
	padding: 3px;	
	text-align:left;
	font-weight:bold;
	color: #FFF;
	font-size:12px;
}
.table1 td {
	padding: 3px;	
	vertical-align:top;
	text-align: left;
	color:#FFF;
	font-size:12px;	
}

.txterror {
	color: #F00;
	font-weight:bold;
	font-size:12px;	
}

.f_yellow{
	color:#FFFFFF;
}
a.f_yellow{
	text-decoration:none;
}
a.f_yellow:hover{
	text-decoration:underline;
}

.f_red{
	color:#B5121B;
}
a.f_red{
	text-decoration:none;
}
a.f_red:hover{
	text-decoration:underline;
}

.f_brown{
	color:#9e7c1a;
}
a.f_brown{
	text-decoration:none;
}
a.f_brown:hover{
	text-decoration:underline;
}

.f_orange{
	color:#CD791D;
}
a.f_orange{
	text-decoration:none;
}
a.f_orange:hover{
	text-decoration:underline;
}

.f_white{
	color:#FFFFFF;
}
a.f_white{
	text-decoration:none;
}
a.f_white:hover{
	text-decoration:underline;
}

.f_9{
	font-size:9px;
}

.f_11{
	font-size:11px;
}

.f_12{
	font-size:12px;
}

.f_13{
	font-size:13px;
}

.f_14{
	font-size:14px;
}

.f_15{
	font-size:15px;
}

.f_21{
	font-size:21px;
}

.f_30{
	font-size:30px;
}

.f_38{
	font-size:38px;
}

.list1 {
	list-style:square;
	margin: 10px 0 10px 20px;
}
.list1 li {
	margin: 2px 0 2px 0;
}